@mixin font($f-name, $f-style, $f-weight, $f-url){
    @font-face{
      font-family: $f-name;
      font-style: $f-style;
      font-weight: $f-weight;
      font-display: swap;
      src: url($f-url) format('woff2')}}
  
  
@include font('Horatio D', normal, 700, '../fonts/horatio-d-bold.woff2');

@mixin font($f-name, $f-style, $f-weight, $f-url){
    @font-face{
      font-family: $f-name;
      font-style: $f-style;
      font-weight: $f-weight;
      font-display: swap;
      src: url($f-url) format('woff2')}};
  
  
@include font('Horatio D', normal, 500, '../fonts/horatio-d-medium.woff2');

@mixin font($f-name, $f-style, $f-weight, $f-url){
    @font-face{
      font-family: $f-name;
      font-style: $f-style;
      font-weight: $f-weight;
      font-display: swap;
      src: url($f-url) format('woff2')}}
  
  
@include font('Horatio D', normal, 300, '../fonts/horatio-d-ligh.woff2');